<div class="container">
    <div class="row mt-5">
        <div class="col md-12">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/image/project.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>JOIN US WEDDING</h5>
              <p>My sister marriage on 26-04-23..at jabamalai kalyana mandabam</p>
            </div>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
</div>
</div>
</div>

<div class="row mt-5">
    <div class="col md-12">
        <div class="small">
        <h6>I am glad to say that my sister getting married, <br><br>
        i invite you all to celeberate this great wedding cermony with us..</h6>
    </div>
</div>
</div>

<div class="row mt-5">
    <div class="col md-12">
        <div class="small1">
            <p>ARRIVAL:9:00 to 9.30AM</p>
        </div>

    </div>
</div>

<div class="row mt-5">
    <div class="col md-12">
        <div class="small1">
            <p>MARRIAGE:9:30 to 10.30Am</p>
        </div>

    </div>
</div>
</div>