<div class="container">
    <div class="row mt-5">
        <div class="col md-12">
            <marquee behavior="" direction="" id="run">venue!!!for marriage hall....welcome my dear frnds....</marquee>
            <div class="small">
            <h5>Hi guys here is venue for you</h5>
             <h6><span>LOCATION: Jabamalai Kalyana Mandabam</span> <br>&nbsp;&nbsp; Opps to gopala pillai hospital,nagercoil</h6><br><br>
        </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col md-12">
            <img src="assets/image/hall.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col md-12">
            <div class="sm">
             <span>Here a delecious foods and chats....enjoy machiis....have fun...let's join us <br> <h1>THANK YOU!!!!!</h1></span>
        </div>
    </div>
    </div>
</div>